/*        REQUEST FORM STYLING       */
.requestFormContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  
}
.requestForm {
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 950px;
  margin: 200px 0 0 0;
  padding: 30px 50px 50px 50px;
  width: 600px;
}
.formLabel {
  color: #939598;
  font-size: 20px;
  padding-left: 15px;
}

.formInput {
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  padding: 10px;
}

#dueDate {
  margin-top: 10px;
}

.checkboxSpan {
  color: #939598;
  margin: 10px 0;
}

#description {
  height: 100px;
}

.submit {
  background: #43DA86;
  border-radius: 30px;
  color: white;
  height: 50px;
  margin: auto;
  outline: none;
  width: 60%;
}

@media only screen and (max-width: 1400px) {
  .requestFormContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    align-content: center;
    
  }
  .requestForm {
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 950px;
    margin: 200px auto 0 auto;
    padding: 30px 50px 50px 50px;
    width: 600px;
  }
  


}