/*            HEADER STYLING           */
.headerContainer {
  background-image: url('../assets/headerImage.svg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: 100px 5px;
  box-shadow: -2px 13px 10px -6px rgba(0,0,0,0.62);
  height: 125px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.logos{
  background-image: url('../assets/headerImage.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  height: 100px;
  width: 500px;
  visibility: hidden;
}

.headerContainer a {
  color: #999999;
  font-size: 20px;
  position:  absolute;
  right: 60px;
  text-decoration: none;
  text-transform: uppercase;
  top: 45px;
}

@media only screen and (max-width: 1400px) {
  .logos{
    background-image: url('../assets/headerImage.svg');
    background-repeat: no-repeat;
    background-size: 545px;
    background-color: white;
    height: 100px;
    width: 550px;
    margin-top: 15px;
    margin-left: 30px;;
    visibility: visible;
  }
  .headerContainer {
    background-image: none;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: 100px 5px;
    box-shadow: -2px 13px 10px -6px rgba(0,0,0,0.62);
    height: 125px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

}


@media only screen and (max-width: 770px) {
  .logos{
    background-image: url('../assets/headerImage.svg');
    background-repeat: no-repeat;
    background-size: 405px;
    background-color: white;
    height: 100px;
    width: 500px;
    margin-top: 25px;
    visibility: visible;
  }
  .headerContainer {
    background-image: none;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: 100px 5px;
    box-shadow: -2px 13px 10px -6px rgba(0,0,0,0.62);
    height: 125px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

}
