/*        QUEUE STYLING         */
.queueContainer {
  background: white;
  border-radius: 15px;
  color: #939598;
  height: 950px;
  margin: 200px 0 100px 0;
  padding: 20px 50px 50px 50px;
  width: 750px;
}

.projectsQueueContainer {
  height: 380px;
  overflow-y: hidden;
}

.projectsQueueContainer::-webkit-scrollbar {
  width: 10px;
  
}

.projectsQueueContainer::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 50px;;
} 

.projectsQueueContainer:hover {
  overflow-y: scroll;
} 

.projectsHeading {
  font-size: 20px;
  margin-left: 20px;
}

.projectsQueue {
  border: 1px solid #ddd;
  border-radius: 15px;
  height: 80px;
  margin: 15px 0;
  padding: 10px 20px;
  width: 640px;
}


.queueContainer .projectsQueue:hover {
  border-bottom: 5px solid lightgray;
  padding: 20px 30px;
}

.queueContainer .projectsQueue .projectsInfo {
  display: flex;
  justify-content: space-between;
}


.queueContainer .projectsQueue h4,
.queueContainer .projectsQueue .projectsInfo p {
margin: 0;
}

@media only screen and (max-width: 1400px) {
  .queueContainer {
    background: white;
    border-radius: 15px;
    color: #939598;
    height: 950px;
    margin: 100px auto;
    padding: 20px 50px 50px 50px;
    width: 750px;
  }
}


@media only screen and (max-width: 770px) {
  .queueContainer {
    background: white;
    border-radius: 15px;
    color: #939598;
    height: 950px;
    margin: 100px auto;
    padding: 20px 50px 50px 50px;
    width: 600px;
  }
  .projectsQueue {
    border: 1px solid #ddd;
    border-radius: 15px;
    height: 80px;
    margin: 15px 0;
    padding: 10px 20px;
    width: 450px;
  }
  .queueContainer .projectsQueue:hover {
    border-bottom: 5px solid lightgray;
    padding: 10px 15px;
  }

}