.viewProjectContainer{
    height: 500px;
    width: 700px;
    margin:  200px auto;
    background: white;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
}
.vp {
    display: flex;
}
.vpLeft{
    height: 100%;
    width: 350px;
}

.vpRight{
    height: 100%;
    width: 350px;
}
.vpTitle{
    font-size: 25px;
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;

}
.vpSub{
    
    height: 100%;
    line-height: 2px;
    font-size:10px;
    margin: 20px;
}
.vpDescription{
    
    height: 350px;
    width: 330px;
    align-self: center;
    margin: 10px;
    font-size: 20px;
    line-height: 18px;

}
.vpDescBox{
    height: 300px;
    width: 320px;
    font-size: 15px;
    padding: 20px;
    background:white;
    box-shadow: 2px 2px 5px;
}
.vpTicket{
    height: 100%;
    width: 100%;

}